---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WhyLocation from '../components/WhyLocation.astro';
import LocationMap from '../components/LocationMap.astro';
import PropertyOverview from '../components/PropertyOverview.astro';
import SuitableFor from '../components/SuitableFor.astro';
import MasterPlan from '../components/MasterPlan.astro';
import DroneVideo from '../components/DroneVideo.astro';
import TrustSection from '../components/TrustSection.astro';
import SpaceCalculator from '../components/SpaceCalculator';
import BrochureDownload from '../components/BrochureDownload';
import LeadForm from '../components/LeadForm';
import { site } from '../data/site';
---

<Layout
  title={`${site.name} | Industrial Land & Ready Sheds Near Foxconn`}
  description={site.description}
>
  <Hero />
  <WhyLocation />
  <LocationMap />
  <PropertyOverview />
  <SpaceCalculator client:load />
  <SuitableFor />
  <MasterPlan />
  <DroneVideo />
  <BrochureDownload client:load />
  <LeadForm client:load />
  <TrustSection />

  <!-- Netlify detects forms at build time (React forms POST via netlify-form.ts) -->
  <form name="site-visit" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="hidden" name="form-name" value="site-visit" />
    <input name="bot-field" />
    <input name="name" />
    <input name="company" />
    <input name="phone" />
    <input name="email" />
    <input name="required_area" />
    <input name="timeline" />
  </form>
  <form name="brochure" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="hidden" name="form-name" value="brochure" />
    <input name="bot-field" />
    <input name="name" />
    <input name="company" />
    <input name="email" />
    <input name="phone" />
  </form>
</Layout>
